node_modules/
build/
report/
coverage/
.AppleDouble
vendor/*
!vendor/re2/re2/*
!vendor/re2/util/*
vendor/re2/re2/testing/*
!vendor/abseil-cpp/absl/*
.vscode/
.development
.developmentx
.xdevelopment

/scripts/save-local.sh
