sudo: false

language: node_js

branches:
  only:
    - pre-build

node_js:
  - "8"
  - "10"
  - "12"
  - "13"

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - build-essential
      - gcc-7
      - g++-7

before_install:
  - export CXX="g++-7"

before_script:
  - if [ "`nvm current`" < "system" ]; then N=`which node`; D=`dirname $N`; ln -s $D/../lib/node_modules/npm/bin/node-gyp-bin/node-gyp; fi
