name: Node.js builds

on:
  push:
    tags:
      - v?[0-9]+.[0-9]+.[0-9]+.[0-9]+
      - v?[0-9]+.[0-9]+.[0-9]+
      - v?[0-9]+.[0-9]+

jobs:
  create-release:
    name: Create release
    runs-on: ubuntu-latest

    steps:
    - name: Create release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        tag_name: ${{github.ref}}
        release_name: Release ${{github.ref}}
        draft: false
        prerelease: false

  build:
    name: Node.js ${{matrix.node-version}} on ${{matrix.os}}
    needs: create-release
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        os: [windows-latest, macOS-latest]
        node-version: [12, 14, 15, 16]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Setup Node.js ${{matrix.node-version}}
      uses: actions/setup-node@v1
      with:
        node-version: ${{matrix.node-version}}
    - name: Get NPM cache directory
      id: npm-cache
      run: |
        echo "::set-output name=dir::$(npm config get cache)"
    - name: Cache node modules
      uses: actions/cache@v2
      with:
        path: ${{steps.npm-cache.outputs.dir}}
        key: ${{runner.os}}-node-${{hashFiles('**/package-lock.json')}}
        restore-keys: |
          ${{runner.os}}-node-
          ${{runner.os}}-
    - name: Install the package and run tests
      env:
        DEVELOPMENT_SKIP_GETTING_ASSET: true
      run: |
        npm i
        npm run build --if-present
        npm test
    - name: Save to GitHub
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      run: npm run save-to-github

  build-linux-node:
    name: Node.js ${{matrix.node-version}} on CentOS 7
    needs: create-release
    runs-on: ubuntu-latest
    continue-on-error: true

    strategy:
      matrix:
        node-version: [12, 14, 15, 16]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Get NPM cache directory
      id: npm-cache
      run: |
        echo "::set-output name=dir::$(npm config get cache)"
    - name: Cache node modules
      uses: actions/cache@v2
      with:
        path: ${{steps.npm-cache.outputs.dir}}
        key: Linux-node-${{hashFiles('**/package-lock.json')}}
        restore-keys: |
          Linux-node-
          Linux-
    - name: Install, test, and create artifact
      uses: ./.github/actions/linux-node-12/
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        node-version: ${{matrix.node-version}}

  build-linux-alpine-node-12:
    name: Node.js 12 on Alpine Linux
    needs: create-release
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Get NPM cache directory
      id: npm-cache
      run: |
        echo "::set-output name=dir::$(npm config get cache)"
    - name: Cache node modules
      uses: actions/cache@v2
      with:
        path: ${{steps.npm-cache.outputs.dir}}
        key: Linux-Alpine-node-${{hashFiles('**/package-lock.json')}}
        restore-keys: |
          Linux-Alpine-node-
          Linux-Alpine-
    - name: Install, test, and create artifact
      uses: ./.github/actions/linux-alpine-node-12/
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  build-linux-alpine-node-14:
    name: Node.js 14 on Alpine Linux
    needs: create-release
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Get NPM cache directory
      id: npm-cache
      run: |
        echo "::set-output name=dir::$(npm config get cache)"
    - name: Cache node modules
      uses: actions/cache@v2
      with:
        path: ${{steps.npm-cache.outputs.dir}}
        key: Linux-Alpine-node-${{hashFiles('**/package-lock.json')}}
        restore-keys: |
          Linux-Alpine-node-
          Linux-Alpine-
    - name: Install, test, and create artifact
      uses: ./.github/actions/linux-alpine-node-14/
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  build-linux-alpine-node-15:
    name: Node.js 15 on Alpine Linux
    needs: create-release
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Get NPM cache directory
      id: npm-cache
      run: |
        echo "::set-output name=dir::$(npm config get cache)"
    - name: Cache node modules
      uses: actions/cache@v2
      with:
        path: ${{steps.npm-cache.outputs.dir}}
        key: Linux-Alpine-node-${{hashFiles('**/package-lock.json')}}
        restore-keys: |
          Linux-Alpine-node-
          Linux-Alpine-
    - name: Install, test, and create artifact
      uses: ./.github/actions/linux-alpine-node-15/
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  build-linux-alpine-node-16:
    name: Node.js 16 on Alpine Linux
    needs: create-release
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Get NPM cache directory
      id: npm-cache
      run: |
        echo "::set-output name=dir::$(npm config get cache)"
    - name: Cache node modules
      uses: actions/cache@v2
      with:
        path: ${{steps.npm-cache.outputs.dir}}
        key: Linux-Alpine-node-${{hashFiles('**/package-lock.json')}}
        restore-keys: |
          Linux-Alpine-node-
          Linux-Alpine-
    - name: Install, test, and create artifact
      uses: ./.github/actions/linux-alpine-node-16/
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
